*{
    margin: 0px;
    padding: 0px;
    font-family: "Eras",sans-serif;
}

@font-face {
    font-family: "Tempus";
    src: url(../Fuentes/TEMPSITC.ttf) ; 
}

@font-face {
    font-family: "Eras";
    src: url(../Fuentes/ERASLGHT.ttf) ;
}

div > div > h1 {
    font-weight: bold;
    font-family: "Tempus", sans-serif;
    color: gray;
    padding: 1em;
}

#cabecera {
    background-image: url("../img/penta.png");
    margin-top: -1.5%;
}
@media (min-width: 700px) and (max-width: 960px){
	#cabecera {
		margin-top: -2.7%;
	}
}
@media (min-width: 410px) and (max-width: 700px){
	#cabecera {
		margin-top: -4%;
	}
}
@media (max-width: 410px){
	#cabecera {
		margin-top: -6%;
	}
}


body {
    background-image: url(../img/half.png);
}

#nav-principal {
    background-color: rgba(199, 198, 194,0.5);
    text-align: center;
    font-size: 2rem;
}

#nav-principal > ul > li {
    display: inline-block;
    padding: 1rem;
    color: gray;
}
#nav-principal > ul >li:before {content:" | "}
#nav-principal > ul >li:after {content:" | "}

#nav-principal > ul > li:hover {
   background-color: rgba(215, 125, 70, 0.3);
    transition: background-color 1s ease ;
    -webkit-transition: background-color 1s ease ;
    -moz-transition: background-color 1s ease ;
    -o-transition: background-color 1s ease ;
}

#nav-principal > ul > li> a {
    color: gray;
}
.active-link {
    background-color: rgba(210, 205, 130,0.5); 
}

.justify {
    word-wrap: break-word;
}

#menuRedes {
	position: absolute;
	visibility: hidden;
	z-index: -1;
	background-color: rgba(34, 34, 34,0.5);
	margin-top: 1rem;
	margin-left: -1rem;
	height: 0px
}

#red:hover #menuRedes {
	-webkit-transition-property: height; 
    -webkit-transition-duration: 1s; 
    -moz-transition-property: height; 
    -moz-transition-duration: 1s;
    -o-transition-property: height; 
    -o-transition-duration: 1s;
    transition-property:  height;
    transition-duration: 1s;
	height: 18rem;
	z-index: 1;
	visibility: visible;
}

#red:hover #menuRedes li {
	-webkit-transition-property: height; 
    -webkit-transition-duration: 1s; 
    -moz-transition-property: height; 
    -moz-transition-duration: 1s;
    -o-transition-property: height; 
    -o-transition-duration: 1s;
    transition-property:  height;
    transition-duration: 1s;
	height: 6rem;
}

#menuRedes li {
	list-style: none;
	padding: 4px 6px 4px 6px;
	height: 0px;
}

#menuRedes li:hover {
    background-color: rgba(215, 125, 70, 0.3);
}

.columna {
    padding: 1rem;
    background-color: rgba(107, 76, 48,0.2);
    border-color: #996600;
    border: 1px;
}

.contenido {
    padding: 1rem;
    background-color: rgba(158,130,105,0.1);    
    font-size: 1.8rem;
    color:#423f3d;
}

.subtitle {
    font-weight:bold;
}

#fotomia{
    width: 40%;
    border: 1rem rgba(158,76,49) solid;
    border-radius: 1rem;
    min-width: 30%;
    min-height: 30%;
    max-width: 50%;
    max-height: 50%;
}

.tag {
    border: 0.2rem solid #D1E0CA;
    border-radius: 0.3rem;
    cursor: pointer;
}


.tag:hover {
	background-color: #D1E0CA;
}

.blog-footer  {
	padding: 3rem;
	margin-top: 2rem;
	color: #999;
	text-align: center;
	background: url(../Image/xv.png);
	border-top: 1px solid #e5e5e5;
}
.name-area {
	margin-left: 40%;
}
.name{
	font-size: 3em; 
	float: left;
	padding-right: 20px;
	margin-top: -20px;
}
.name-out{
	font-size: 3em; 
	float: left;
	padding-right: 20px;
	margin-top: -20px;
	margin-left: 38%;
	text-align: center;
}
.blog-footer p:last-child {
  	margin-bottom: 0;
}
#bt-agregar{
	background-color: #B80000;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	margin-top: -20px;
}
.control-label {
    background-color: #c0c0c0;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-top: 1rem;
   
}
.form-horizontal .control-label{
	 text-align: center;
}
.well{
	background-color: rgba(128, 128, 128, 0.3);
	border-color: darkgrey;
	text-align: center;
	height: auto;
}
.well-sm{
	text-align: center;
}

.inputText {
	display: inline-block;
	width: 100%;	
	height: 2.5em;	
	margin: 0px;
	padding-left: 10px;
	box-shadow: 0;
	outline: none;
	color: rgb(72, 74, 76);
	border:3px solid white;
	font: bold 14px "Tempus" black;
 	background: white;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.inputText:focus {
	border: 3px solid #FAB44B;
	color: gray;
	outline: none;
}

#inputButton {
	outline: none;
	width: 6em;
	height: 2.5em;
	border: 3px solid white;
	font: bold 18px "Tempus";
	background-color: #F4AC57;
	transition: background-color 1.5s ease, border-color 1s ease , color 1s ease ;
	-o-transition: background-color 1.5s ease, border-color 1s ease , color 1s ease ;
	-webkit-transition: background-color 1.5s ease, border-color 1s ease , color 1s ease ;
	-moz-transition: background-color 1.5s ease, border-color 1s ease , color 1s ease ;
}

#inputButton:hover {
	background-color: white;
	border: 3px solid #FF9F29;
	transition: all 1.5s ease ;
    color: #FF9F29;
	-o-transition: all 1.5s ease ;
	-webkit-transition: all 1.5s ease ;
	-moz-transition: all 1.5s ease ;
}

#inputButton:focus {
	border: 3px solid #FAB44B;
}

.selectI {
    display: inline-block;
	width: 100%;	
	height: 2.5em;	
	margin: 0px;
	padding-left: 10px;
	box-shadow: 0;
	outline: none;
	color: rgb(72, 74, 76);
	font: bold 14px "Tempus" black;
    border: 0px;
 	background: white;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
}

.selectI:focus {
	border: 3px solid #FAB44B;
	color: gray;
	outline: none;
}

.fechaA {
    color: gray;
    font-size: 1.5rem;
    text-align: right;
}

.autorA {
    font-size: 1.8rem;
    cursor: pointer;
    float: left;
    padding-right: 15px;
}
a{
	color: #333333;
}
#notificacion{
    padding: 1rem;
    font-size: 1rem;
    background-color: rgba(119,136,153,0.3);
    font-family: 'Tempus' ;
}

